* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors: */
  --main-color-: #435ca7;
  --text-color: #445164;
  --light-text-color: #3d5065;
  --white-color: #ffffff;
  --light-white: #effaff;
  --light-span: #a2a2a2;
  --i-color: #1d538f;
  --background-white: #edf8ff;
  --slide-color: #000;
  --transition: all 0.5s ease;

  /* Font/text values */
  --font-family: "Serif Pro, Regular";
}

a {
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition);
}
img {
  max-width: 100%;
  height: auto;
}

.navbar {
  background: var(--main-color-);
}
.navbar-brand {
  color: var(--white-color);
  font-size: 2.8rem;
  font-weight: 500;
  font-family: var(--font-family);
}
.navbar .navbar-nav h3 {
  color: var(--white-color);
  font-size: 1.1rem;
}
.navbar .navbar-nav a {
  color: var(--main-color-);
  background-color: var(--white-color);
  font-weight: 600;
  padding: .4rem 6.2rem;
}
.banner {
  position: relative;
  top: -3.0rem;
  background: url(/assets/home-desktop.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  transition: var(--transition);
  z-index: -1;
}

.banner .text-home h2 {
  font-family: var(--font-family);
  color: var(--light-text-color);
  font-size: 2rem;
  font-weight: 500;
}
.banner .text-home p {
  margin: 0;
  color: var(--light-text-color);
  font-weight: bold;
  font-size: 400;
  font-size: 0.8rem;
}
.banner .text-home p i {
  color: var(--main-color-);
  font-size: 0.7rem;
  padding-right: 1rem;
}
.banner .text-home a {
  color: var(--white-color);
  background: var(--main-color-);
  padding: .7rem 8rem;
}

.top-brands {
  padding: 1rem 0;
  margin-top: -4.4rem;
  background: var(--light-white);
}
.top-brands .brands-details {
  padding: 2rem 0;
}
.top-brands .row .brands-details h2 {
  font-size: 2rem;
  color: var(--light-text-color);
  font-family: var(--font-family);
}
.top-brands .row .brands-details p {
  color: var(--light-text-color);
  font-size: 1rem;
  padding: 0 2rem;
}
.top-brands .trands-logo {
  padding: 0;
  margin-bottom: 2rem;
}
.top-brands .trands-logo h2 {
  color: var(--light-text-color);
  font-size: 1.5rem;
}
.top-brands .trands-logo h2 span {
  font-size: 0.8rem;
}

.slider-section .row h2 {
  color: var(--light-text-color);
  font-family: var(--font-family);
}
.slider-section .row .carousel a{
  background: var(--background-white);
  color: var(--light-text-color);
  font-size: .9rem;
  font-weight: 500;
  z-index: 1;
  top: 10%;
  left: 20%;
  padding: .5rem 1.3rem;
}
.slider-section .row .carousel button .bnr-icon{
  font-size: 2rem;
  color: var(--slide-color);
}
.row .about-text {
  padding: 1rem;
}
.row .about-text h3,
.row .about-text .star i,
.row .about-text .star p,
.row .about-text .about-review h4 {
  color: var(--light-text-color);
}
.row .about-text .about-review h4 span {
  color: var(--light-span);
}
.row .about-text .about-review p {
  color: var(--light-text-color);
  font-size: 0.8rem;
  padding-top: -1.9rem;
  margin-bottom: 0;
  line-height: 1.2;
}
.row .about-text .about-review p i {
  margin-right: 0.3rem;
  color: var(--i-color);
  font-size: 1.2rem;
}
.row .about-text .about-review a {
  background-color: var(--main-color-);
}
.row .about-text .about-review img {
  width: 100%;
  padding: 0 3rem;
}

.product-review {
  background: var(--background-white);
  padding: 1rem 0;
}
.product-review .pro-text .circle {
  position: relative;
}
.product-review .pro-text .image-1 {
  width: 60%;
}
.product-review .pro-text .image-2 {
  position: absolute;
  left: 38%;
  top: 22%;
  width: 24%;
}
.product-review .pro-text h2 {
  color: var(--text-color);
  font-size: 1.4rem;
  margin-top: 1rem;
}
.product-review .pro-text p {
  color: var(--light-text-color);
  font-size: 0.8rem;
}

.table-items {
  padding: 4rem 0;
}
.table-items .row {
  margin-top: -3rem;
}
.table-items .row h2{
  color: var(--light-text-color);
  font-family: var(--font-family);
}

.table-items .table .color-change {
  background: var(--background-white);
  color: var(--text-color);
}
.table-items .table {
  font-size: .1rem;
  color: var(--text-color);
}
.table-items .row .table th,
.table-items .row .table .t-body .t-colm{
  font-size: 1rem;
}
.table-items .row .table tbody i {
  font-size: 1.2rem;
  color: var(--text-color);
}


.other-benefits {
  background-color: var(--main-color-);
}
.other-benefits h2 {
  color: var(--white-color);
}
.other-benefits .row .ben-con .benefits-items img {
  width: 25%;
  margin: 1rem 0;
}
.other-benefits .row .ben-con .benefits-items h3 {
  font-size: 0.9rem;
  color: var(--white-color);
}

.spa-items-1 {
  max-height: 60vh;
  background-color: var(--background-white);
}
.spa-items-2 {
  margin: 3rem 0;
}
.spa-items-1 .row h2 {
  color: var(--text-color);
  font-family: var(--font-family);
}

.spa-items-1 .row .spa-text h3,
.spa-items-2 .row .spa-text h3 {
  color: var(--text-color);
  font-weight: 700;
}
.spa-items-1 .row .spa-text p,
.spa-items-2 .row .spa-text p {
  color: var(--text-color);
  font-weight: 500;
  font-size: 13px;
}
.spa-items-1 .row .spa-image img,
.spa-items-2 .row .spa-image img {
  width: 100%;
}

.last-item,
.last-item .row .aco-main .aco-item h2 button,
.last-item .row .aco-main .aco-item .accordion-body {
  background: var(--background-white);
}
.last-item .row .aco-main .aco-item h2 button {
  color: var(--light-text-color);
}
.last-item .row .aco-main .aco-item .accordion-body {
  color: var(--light-span);
}
.last-item .row h2 {
  color: var(--text-color);
}

@media (min-width: 1200px) {
  .navbar-brand {
    font-size: 30px;
  }

  .table-items {
    padding: 4rem 0;
  }
  .table-items .row {
    margin-top: -3rem;
  }

  .table-items .table .color-change {
    background: var(--background-white);
    color: var(--text-color);
  }
  .table-items .table {
    font-size: .1rem;
    color: var(--text-color);
  }
  .table-items .row .table th,
  .table-items .row .table .t-body .t-colm  {
    font-size: 1rem;
  }
  .table-items .row .table tbody i {
    font-size: 1.2rem;
    color: var(--text-color);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
  .banner .text-home h2 {
    font-size: 1.7rem;
  }
  .banner .text-home p {
    font-size: 0.8rem;
  }
  .top-brands .row .brands-details h2 {
    font-size: 1.9rem;
  }
  .top-brands .row .brands-details p {
    padding: 0 2rem;
    font-size: 0.9rem;
  }

  .table-items {
    padding: 2rem 0;
  }
  .table-items .row .table th,
  .table-items .row .table .t-body .t-colm {
    font-size: 0.7rem;
  }
  .table-items .row .table tbody i {
    font-size: 0.9rem;
  }

  .product-review .pro-text .image-1 {
    width: 80%;
  }
  .product-review .pro-text .image-2 {
    left: 36%;
    width: 30%;
  }
  .product-review .pro-text h2 {
    font-size: 1.1rem;
  }
  .product-review .pro-text p {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    font-size: 24px;
  }
  .navbar .navbar-nav {
    flex-direction: row;
  }

  .banner .text-home h2 {
    font-size: 1.8rem;
  }
  .banner .text-home p {
    font-size: 0.7rem;
  }
  .top-brands .row .brands-details h2 {
    font-size: 1.7rem;
  }
  .top-brands .row .brands-details p {
    padding: 0 2rem;
    font-size: 0.8rem;
  }
  .product-review .pro-text .image-1 {
    width: 80%;
  }
  .product-review .pro-text .image-2 {
    left: 36%;
    width: 30%;
  }
  .product-review .pro-text h2 {
    font-size: 1.1rem;
  }
  .product-review .pro-text p {
    font-size: 0.7rem;
  }

  .table-items {
    padding: 2rem 0;
  }
  .table-items .row .table th,
  .table-items .row .table .t-body .t-colm {
    font-size: 0.7rem;
  }
  .table-items .row .table tbody i {
    font-size: 0.9rem;
  }

  .spa-items-1 {
    max-height: 53vh;
  }
  .spa-items-1 .row h2 {
    font-size: 1.4rem;
  }
  .spa-items-1 .row .spa-text h3,
  .spa-items-2 .row .spa-text h3 {
    font-size: 1.2rem;
  }
  .spa-items-1 .row .spa-text p,
  .spa-items-2 .row .spa-text p {
    margin-top: -1.3rem;
    font-size: 0.7rem;
  }
  .spa-items-1 .row .spa-image img {
    margin-top: 1.1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    font-size: 1.43rem;
  }
  .navbar .navbar-nav {
    flex-direction: row;
  }
  .navbar .navbar-nav h3 {
    font-size: 0.8rem;
  }
  .navbar .navbar-nav a {
    padding: 0.1rem 2.6rem;
  }
  .banner .text-home h2 {
    font-size: 1.8rem;
  }
  .banner .text-home p {
    font-size: 0.8rem;
  }
  .top-brands .row .brands-details h2 {
    font-size: 1.9rem;
  }
  .top-brands .row .brands-details p {
    padding: 0 2rem;
    font-size: 0.9rem;
  }

  .slider-section .row .carousel button .bnr-icon{
    font-size: 1.5rem;
  }

  .table-items {
    padding: 2rem 0;
  }
  .table-items .row .table th,
  .table-items .row .table .t-body .t-colm {
    font-size: 0.7rem;
  }
  .table-items .row .table tbody i {
    font-size: 0.9rem;
  }

  .row .about-text h3,
  .row .about-text .star,
  .row .about-text .about-review h4,
  .row .about-text .about-review p,
  .row .about-text .about-review a {
    margin-left: 3rem;
  }
  .product-review .pro-text .image-1 {
    width: 35%;
  }
  .product-review .pro-text .image-2 {
    left: 43%;
    width: 14%;
  }
  .product-review .pro-text h2 {
    font-size: 1.1rem;
  }
  .product-review .pro-text p {
    font-size: 0.7rem;
  }

  .spa-items-1 {
    min-height: 80vh;
  }
  .spa-items-2 {
    margin-top: -5rem;
  }

  .spa-items-1 .row h2 {
    margin: 1.2rem 0;
    font-size: 1.2rem;
  }
  .spa-items-1 .row .spa-text h3,
  .spa-items-2 .row .spa-text h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .spa-items-1 .row .spa-text p,
  .spa-items-2 .row .spa-text p {
    margin-top: -1.3rem;
    font-size: 0.7rem;
  }
  .spa-items-1 .row .spa-image,
  .spa-items-2 .row .spa-image {
    max-width: 85%;
    margin: auto;
  }
  .spa-items-1 .row .spa-image img {
    margin-top: 1.1rem;
  }
}

@media (max-width: 575.98px) {
  .navbar .container-fluid {
    display: block;
  }
  .navbar .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar .navbar-nav h3 {
    font-size: 0.7rem;
    left: 0;
  }
  .navbar .navbar-nav a {
    right: 0;
    padding: 0.1rem 3rem;
  }
  .banner {
    background: url(/assets/home-mobile.png);
    background-size: cover;
    height: 100vh;
    background-position: 75%;
    top: 0;
  }
  .banner .text-home {
    padding: 2rem 1.8rem;
  }
  .banner .text-home h2 {
    text-align: center;
    font-size: 1.9rem;
    padding: auto;
    margin: auto;
  }
  .banner .text-home p {
    font-size: 0.8rem;
    margin-left: 1.4rem;
  }
  .banner .text-home a {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.4rem 4.2rem;
    margin-left: 2rem;
  }
  .top-brands .row .brands-details h2 {
    font-size: 1.9rem;
  }
  .top-brands .row .brands-details p {
    padding: 0 2rem;
    font-size: 0.9rem;
  }
  .top-brands .brands-details .trands-logo {
    display: block;
    flex-direction: column;
  }

  .slider-section .row .carousel button .bnr-icon{
    font-size: 1.2rem;
  }
  .row .about-text h3,
  .row .about-text .star,
  .row .about-text .about-review h4,
  .row .about-text .about-review p,
  .row .about-text .about-review a {
    margin-left: 3rem;
  }
  .row .about-text .about-review p i {
    margin-right: 0.3rem;
    color: var(--i-color);
    font-size: 1.2rem;
  }
  .product-review .pro-text .image-1 {
    width: 35%;
  }
  .product-review .pro-text .image-2 {
    left: 43%;
    width: 14%;
  }
  .product-review .pro-text h2 {
    font-size: 1.1rem;
  }
  .product-review .pro-text p {
    font-size: 0.7rem;
  }

  .table-items {
    padding: 2rem 0;
    margin: auto;
  }
  .table-items .row .table th,
  .table-items .row .table .t-body .t-colm  {
    font-size: 0.6rem;
  }
  .table-items .row .table tbody i {
    font-size: 0.8rem;
  }

  .spa-items-1 {
    min-height: 72vh;
  }
  .spa-items-2 {
    margin-top: -5rem;
  }

  .spa-items-1 .row h2 {
    margin: 1.2rem 0;
    font-size: 1.2rem;
  }
  .spa-items-1 .row .spa-text h3,
  .spa-items-2 .row .spa-text h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .spa-items-1 .row .spa-text p,
  .spa-items-2 .row .spa-text p {
    margin-top: -1.3rem;
    font-size: 0.7rem;
  }
  .spa-items-1 .row .spa-image,
  .spa-items-2 .row .spa-image {
    max-width: 85%;
    margin: auto;
  }
  .spa-items-1 .row .spa-image img {
    margin-top: 1.1rem;
  }
}
